{% extends "base.html" %}
{% load static %}

{% block content %}
<h1>Bikes</h1>

<div class="row">
    {% for bike in object_list %}
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            {% if bike.image %}
            <img class="card-img-top" src="{{ bike.image.url }}" alt="{{ bike.name }}">
            {% else %}
            <img class="card-img-top" src="{% static 'images/image.png' %}" alt="{{ bike.name }}">
            {% endif %}
            <div class="card-body">
                <h3 class="card-title">{{ bike.name }}</h3>
                <p class="card-text">{{ bike.description }}</p>
                <p class="card-text">{{ bike.brand.name }} - {{ bike.category.name }}</p>
                <p class="card-text">{{ bike.price }} €</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <a href="{% url 'bike_detail' bike.pk %}" class="btn btn-sm btn-outline-secondary">View</a>
                    </div>
                    <small class="text-muted">{{ bike.created_at|date:"F j, Y" }}</small>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>No bikes available.</p>
    {% endfor %}
</div>
{% endblock %}
