{% extends 'base.html' %}

{% block title %}Order Detail{% endblock %}

{% block content %}
<h1>Order Detail</h1>
<p><strong>Order ID:</strong> {{ order.id }}</p>
<p><strong>User:</strong> {{ order.user }}</p>
<p><strong>Billing Address:</strong> {{ order.billing_address }}</p>
<p><strong>Shipping Address:</strong> {{ order.shipping_address }}</p>
<p><strong>Date Ordered:</strong> {{ order.date_ordered }}</p>

<h2>Order Items</h2>
<table class="table">
    <thead>
    <tr>
        <th>Product Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    </thead>
    <tbody>
    {% for item in order.orderline.all %}
    <tr>
        <td>{{ item.product.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.get_total }}</td>
    </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}
